// src/templates/email/validateEmail.pug
doctype html
html
  head
    meta(charset='UTF-8')
    title Validate Email
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
      }
      .container {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        max-width: 500px;
        margin: 0 auto;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        text-align: center;
      }
      h1 {
        text-align: center;
        color: #333;
      }
      p {
        margin-bottom: 20px;
        font-size: 16px;
        color: #333;
      }
      .button {
        display: inline-block;
        background-color: #4caf50;
        color: #ffffff !important;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .link {
        word-break: break-all;
        color: #4caf50;
        font-weight: bold;
      }
  body
    .container
      h1 Validate Your Email
      p To help us confirm your identity, we need to verify your email address.
      a.button(href=link) Verify Email
      p If the button above doesn’t work, you can also use the link below:
      a.link(href=link) #{link}